<!DOCTYPE html>
<html>
    (% load pygmentize %}
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <form>
        <input id="username1" placeholder="username" />
        <button disabled=True id="submit1" type="submit">Submit</button>
    </form>

    <body>
        <script>
        const submitButton = document.getElementById("submit1");
        const input = document.getElementById("username1");


        console.log("hello world");
        input.addEventListener("change", (e) => {
            console.log(e.currentTarget.value);
            if (e.currentTarget.value === "") {
                submitButton.disabled = true;

            }
            else {
                submitButton.disabled=false;
            }
        });
        </script>
    </body>

</html>